<div class="grid-container">
    <div class="top-box">
        <p>
            Erick Bickler
            Full Stack Software Developer
        </p>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/erick-bickler" target="_blank">
                    <img src="./assets/images/linkedin.svg" alt="Linked In">
                </a>
            </li>
            <li>
                <a href="https://github.com/erickbickler" target="_blank">
                    <img src="./assets/images/github.svg" alt="Github">
                </a>
            </li>
        </ul>
    </div>
</div>