.grid-container {
    display: grid;
}

.top-box {
    width: 100%;
    height: 142px;
    left: 0px;
    top: 0px;

    background: #373737;
}

p {
    float: left;
    width: 628px;
    height: 94px;
    left: 23px;
    top: 5px;
    margin: 2rem;

    font-size: 36px;
    line-height: 47px;

    color: #FFFFFF;
}

img {
    width: 80px;
    height: 80px;
    padding: 12px 10px;
}

.animate-opacity {
    transition: opacity .3s;
}

.animate-opacity:hover {
    opacity: 70%;
}

li {
    float: right;
}

ul {
    list-style-type: none;
}