<div class="grid-container">
    <img src="./assets/images/laptop-minimalist.svg" alt="minimalist laptop">
    <div id="projects" class="projects">
        <h1>Projects</h1>
        <app-project-card></app-project-card>
        <app-project-card></app-project-card>
        <app-project-card></app-project-card>
        <app-project-card></app-project-card>
        <app-project-card></app-project-card>
        <app-project-card></app-project-card>
        <app-project-card></app-project-card>
        <app-project-card></app-project-card>
    </div>
</div>
