<div class="grid-container">
    <div class="top-box">
        <p>
            Erick Bickler
            <br>
            Full Stack <br class="line-break">Software Developer
        </p>
        <ul>
            <li>
                <div class="tooltip">
                    <a href="https://www.linkedin.com/in/erick-bickler" target="_blank">
                        <img class="animate-opacity" src="./assets/images/linkedin.svg" alt="LinkedIn">
                    </a>
                    <span class="tooltiptext">Connect with me on LinkedIn</span>
                </div>
            </li>
            <li>
                <div class="tooltip">
                    <a href="https://github.com/erickbickler" target="_blank">
                        <img class="animate-opacity" src="./assets/images/github.svg" alt="Github">
                    </a>
                    <span class="tooltiptext">Check out my GitHub</span>
                </div>
            </li>
        </ul>
    </div>
</div>