<a class="back-link" routerLink="/projects">← back to projects</a>
<h1>{{this.project.title}}</h1>
<h2>{{this.project.subtitle}}</h2>
<mat-divider></mat-divider>
<p> {{this.project.description}} </p>
<div class="tools">
  <p> Built with: </p>
  @for (tool of this.project.tools; track tool) {
    <app-tool [tool]="tool"></app-tool>
  }
</div>
<img [src]="this.project.primaryImage" alt="Primary Project Image">
@for (image of this.project.secondaryImages; track image; let i = $index) {
  <img [src]="image" alt="Secondary Project Image #{{i + 1}}">
}
