.headshot {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.link-images {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.link-images > a > img {
    width: 55px;
    height: 55px;
    padding: 12px 10px;
}