<div class="row">
    <div class="info-card col-3">
        <img class="headshot" src="./assets/images/headshot_grayscale.png" alt="Professional Headshot">
        <div class="link-images">
            <a href="https://github.com/erickbickler" target="_blank">
                <img src="./assets/images/github_black.svg" alt="Github">
            </a>
            <a href="https://www.linkedin.com/in/erick-bickler" target="_blank">
                <img src="./assets/images/linkedin_black.svg" alt="Linked In">
            </a>
        </div>
    </div>
    <div class="info-text col-9">
        <h1>about me</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, voluptatibus. Quidem in culpa distinctio natus, perferendis ad molestias maxime provident tenetur, commodi a. Vitae in suscipit, vel adipisci nesciunt optio.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sed assumenda, voluptatem dignissimos odio nesciunt maiores tempore eum laborum modi eaque, libero sequi ut totam. Beatae neque rerum harum modi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptatibus at quaerat perspiciatis est repellendus eveniet voluptatum, esse inventore quae numquam consequatur nihil molestias explicabo laborum adipisci fugit alias non?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem tenetur aliquam fuga possimus tempora neque sed deserunt, quis vitae. Ipsa sed modi cum molestias libero quidem, in sapiente nostrum distinctio?
        </p>
    </div>
</div>
