<div class="row">
    <div class="info-card col-3">
        <img class="headshot" src="./assets/images/headshot_grayscale.png" alt="Professional Headshot">
        <div class="link-images">
            <a href="https://github.com/erickbickler" target="_blank">
                <img src="./assets/images/github_black.svg" alt="Github">
            </a>
            <a href="https://www.linkedin.com/in/erick-bickler" target="_blank">
                <img src="./assets/images/linkedin_black.svg" alt="Linked In">
            </a>
        </div>
    </div>
    <div class="info-text col-9">
        <h1>about me</h1>
        <p>
            Hi, I'm Erick Bickler, a passionate, driven perfectionist always looking for my next challenge. 
            I'm a full stack software developer with experience in many frameworks and new technologies, and thrive on solving problems.
            Writing code is one of the most satisfying things in the world, and I find creating solutions meeting needs of both customers and businesses 
            brings the satisfaction of increasing efficiency and iterative improvement. With this, I hav efound success in any role I've taken on, from multi-billion dollar companies
            to small, personal projects. I love working with a team but also operate effectively on my own. I find that the best results come from collaboration,
            whether that comes through working with a team on a daily basis or working with the customer or business to meet their needs. My technical knowledge
            drives my problem solving by giving me the tools I need to create quickly and efficiently.
        </p>
    </div>
</div>
