.image-container {
    height: 60vh;
}

.project-container {
    display: flex;
    align-items: stretch;
}

h1 {
    text-align: center;
    font-size: 65px;
    color: white;
}

mat-divider {
    margin: auto;
    width: 60%;
}

img {
    object-fit: cover;
    object-position: 50% 35%;
    float: left;
    width: 100%;
    height: 100%;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 24vh;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .40);
    overflow: hidden;
    width: 100%;
    height: 40%;
  }