* {
    font-family: Roboto;
}

mat-card {
    cursor: pointer;
    margin-bottom: 1rem;
    height: calc(100% - 1rem);
}

mat-card img {
    height: 240px;
    object-fit: cover;
}

.tool-container {
    display: inline-block;
}

app-tool {
    margin: 3px;
}