* {
    font-family: Roboto;
}

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
}

mat-card {
    cursor: pointer;
    margin-bottom: 1rem;
    flex: 1;
}

mat-card img {
    height: 240px;
    object-fit: cover;
}

.tool-container {
    display: inline-block;
}

app-tool {
    margin: 3px;
}