/* You can add global styles to this file, and also import other style files */
* {
    font-family: Roboto Mono, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
}

html, body {

    margin: 0;
    padding: 0;
}

.grid-container {
    display: inline;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    width: 100%;
}

/* Media breakpoints */
@media only screen and (min-width: 768px) {
    /* For desktop */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: black;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;

    bottom: 100%;
    left: 50%;
    margin-left: -70px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Tooltip animation */
.tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 1s;
}
  
.tooltip:hover .tooltiptext {
    opacity: 1;
}

.animate-opacity {
    transition: opacity .3s;
}

.animate-opacity:hover {
    opacity: 70%;
}